<h1>
	About Us
</h1>

<p>Explore the world of intrigue. Everyday is an adventure. Come and see what the world has to offer.</p>
</br>

<div class='span6'>
<div id="myCarousel" class="carousel slide">
  <!-- Carousel items -->
  <div class="carousel-inner">
  	<center>
    <div class="active item">
    	<%=image_tag('gl1.jpeg', :size=>'500x300')%><div class='carousel-caption'><p> glacier lake</p></div>
    </div>
    <div class="item">
    	<%=image_tag('gl2.jpeg', :size=>'500x300')%><div class='carousel-caption'><p> fishing</p></div>
    </div>
    <div class="item">
    	<%=image_tag('gl3.jpeg', :size=>'500x300')%><div class='carousel-caption'>
    		<p> tent</p></div></div>
    <div class="item">
    	<%=image_tag('gl4.jpeg', :size=>'500x300')%><div class='carousel-caption'>
    		<p> fire</p></div></div>
    </center>
    </div>
  <!-- Carousel nav -->
  <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
  <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
</div>
</div>
